*{
  margin:0;
  padding:0;
}

body{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e0e5eb;
}

span{
  font-size: 120px;
  color: #e0e5eb;
  text-shadow: 
  -8px -8px 12px rgba(255, 255, 255, 0.4),
  8px 8px 12px rgba(0, 0, 0, 0.08);
}
